{"openapi":"3.1.0","info":{"title":"BFL API","description":"Authorize with an API key from your user profile.","version":"0.0.1"},"servers":[{"url":"https://api.bfl.ai","description":"BFL API"}],"paths":{"/v1/credits":{"get":{"summary":"Get the user's credits","description":"Get the user's credits","operationId":"get_credits_v1_credits_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditsResponse"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/get_result":{"get":{"tags":["Utility"],"summary":"Get Result","description":"An endpoint for getting generation task result.","operationId":"get_result_v1_get_result_get","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/finetune_details":{"get":{"tags":["Utility"],"summary":"Finetune Details","description":"Get details about the training parameters and other metadata connected to a specific finetune_id that was created by the user.","operationId":"finetune_details_v1_finetune_details_get","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"finetune_id","in":"query","required":true,"schema":{"type":"string","title":"Finetune Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneDetailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.us1.bfl.ai","description":"BFL Finetune API"}]}},"/v1/my_finetunes":{"get":{"tags":["Utility"],"summary":"My Finetunes","description":"List all finetune_ids created by the user","operationId":"my_finetunes_v1_my_finetunes_get","security":[{"APIKeyHeader":[]}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MyFinetunesResponse"}}}}},"servers":[{"url":"https://api.us1.bfl.ai","description":"BFL Finetune API"}]}},"/v1/delete_finetune":{"post":{"tags":["Utility"],"summary":"Delete Finetune","description":"Delete a finetune_id that was created by the user","operationId":"delete_finetune_v1_delete_finetune_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFinetuneInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteFinetuneResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.us1.bfl.ai","description":"BFL Finetune API"}]}},"/v1/flux-pro-1.1":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX1.1 [pro]","description":"Submits an image generation task with FLUX1.1 [pro].","operationId":"flux_pro_1_1_v1_flux_pro_1_1_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxPro11Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Flux Pro 1 1 V1 Flux Pro 1 1 Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX1.1 [pro]"}}}},"/v1/flux-dev":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX.1 [dev]","description":"Submits an image generation task with FLUX.1 [dev].","operationId":"flux_dev_v1_flux_dev_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxDevInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Flux Dev V1 Flux Dev Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 [dev]"}}}},"/v1/flux-pro-1.1-ultra":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX1.1 [pro] ultra mode","description":"Submits an image generation task with FLUX1.1 [pro] with ultra mode and optional raw mode.","operationId":"generate_flux_1_1_ultra_v1_flux_pro_1_1_ultra_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxUltraInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 1 1 Ultra V1 Flux Pro 1 1 Ultra Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX1.1 [pro] ultra"}}}},"/v1/flux-pro-1.0-fill":{"post":{"tags":["Models"],"summary":"Inpaint an image with FLUX.1 Fill [pro] using an input image and mask","description":"Submits an image generation task with the FLUX.1 Fill [pro] model using an input image and mask. Mask can be applied to alpha channel or submitted as a separate image.","operationId":"fill_v1_flux_pro_1_0_fill_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxProFillInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Fill V1 Flux Pro 1 0 Fill Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 Fill [pro]"}}}},"/v1/flux-pro-1.0-expand":{"post":{"tags":["Models"],"summary":"Expand an image with FLUX.1 Expand [pro] by adding pixels on any side","description":"Submits an image expansion task that adds the specified number of pixels to any combination of sides (top, bottom, left, right) while maintaining context.","operationId":"expand_v1_flux_pro_1_0_expand_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxProExpandInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Expand V1 Flux Pro 1 0 Expand Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 Expand [pro]"}}}},"/v1/flux-pro-1.0-fill-finetuned":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX.1 Fill [pro] finetune using an input image and mask.","description":"Submits an image generation task with the FLUX.1 Fill [pro] finetune model using an input image and mask. Mask can be applied to alpha channel or submitted as a separate image.","operationId":"flux_pro_1_0_fill_finetuned_v1_flux_pro_1_0_fill_finetuned_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneFluxProFillInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Flux Pro 1 0 Fill Finetuned V1 Flux Pro 1 0 Fill Finetuned Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.us1.bfl.ai","description":"BFL Finetune API"}]}},"/v1/flux-pro-1.1-ultra-finetuned":{"post":{"tags":["Models"],"summary":"Generate an image with FLUX 1.1 [pro] finetune with ultra mode.","description":"Submits an image generation task with FLUX 1.1 [pro] finetune with ultra mode.","operationId":"generate_bigblue_finetuned_v1_flux_pro_1_1_ultra_finetuned_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinetuneFluxUltraInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Bigblue Finetuned V1 Flux Pro 1 1 Ultra Finetuned Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"servers":[{"url":"https://api.us1.bfl.ai","description":"BFL Finetune API"}]}},"/v1/flux-2-flex":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [flex]","description":"Submits an image generation or editing task with FLUX.2 [flex]. Specialized for typography and text rendering, and for preserving small details. Supports text-to-image and image-to-image editing workflows.","operationId":"generate_flux_2_flex_v1_flux_2_flex_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2FlexInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Flex V1 Flux 2 Flex Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [flex]"},"content":"Best for text and typography in the image. For most use cases, start with FLUX.2 [pro]. See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-2-klein-9b":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [klein] 9B","description":"Submits an image generation or editing task with FLUX.2 [klein] 9B. Sub-second inference with open weights, balancing quality and speed.","operationId":"generate_flux_2_klein_9b_v1_flux_2_klein_9b_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Klein 9B V1 Flux 2 Klein 9B Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [klein] 9B"},"content":"Fastest and most affordable, with open weights. 9B balances quality and speed; 4B is the fastest. See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-2-klein-9b-preview":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [klein] 9B (preview)","description":"Submits an image generation or editing task with the FLUX.2 [klein] 9B preview endpoint, where our latest quality and speed improvements land first. For stable production use, prefer FLUX.2 [klein] 9B (/flux-2-klein-9b).","operationId":"generate_flux_2_klein_9b_kv_v1_flux_2_klein_9b_preview_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Klein 9B Kv V1 Flux 2 Klein 9B Preview Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [klein] 9B (preview)"},"content":"Preview endpoint for FLUX.2 [klein] 9B. For stable production use, start with FLUX.2 [klein] 9B. See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-2-klein-4b":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [klein] 4B","description":"Submits an image generation or editing task with FLUX.2 [klein] 4B. The fastest, most lightweight FLUX.2 model, with open weights that run on consumer GPUs.","operationId":"generate_flux_2_klein_4b_v1_flux_2_klein_4b_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Klein 4B V1 Flux 2 Klein 4B Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [klein] 4B"},"content":"The fastest and most affordable model, with open weights that run on consumer GPUs. 9B trades some speed for higher quality. See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-2-max":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [max]","description":"Submits an image generation or editing task with FLUX.2 [max]. Highest quality FLUX.2 model for image generation and editing, with the strongest editing consistency and prompt following.","operationId":"generate_flux_2_max_v1_flux_2_max_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Max V1 Flux 2 Max Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [max]"},"content":"Highest quality, for the hardest edits and maximum prompt following. For most use cases, start with FLUX.2 [pro]. See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-2-pro-preview":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [pro] (preview)","description":"Submits an image generation or editing task with the FLUX.2 [pro] preview endpoint, where our latest quality and speed improvements land first. For stable production use, prefer FLUX.2 [pro] (/flux-2-pro).","operationId":"generate_flux_2_pro_preview_v1_flux_2_pro_preview_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Pro Preview V1 Flux 2 Pro Preview Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [pro] (preview)"},"content":"Preview endpoint for FLUX.2 [pro]. For stable production use, start with FLUX.2 [pro]. See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-2-pro":{"post":{"tags":["Models"],"summary":"Generate or edit an image with FLUX.2 [pro]","description":"Submits an image generation or editing task with FLUX.2 [pro]. This is the recommended default model for image editing and generation. Supports text-to-image and image-to-image editing workflows.","operationId":"generate_flux_2_pro_v1_flux_2_pro_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2Inputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux 2 Pro V1 Flux 2 Pro Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.2 [pro]"},"content":"The recommended default model for most generation and editing. New to FLUX.2? See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-tools/outpainting-v1":{"post":{"tags":["Models"],"summary":"Outpaint or extend an image","description":"Submits an outpainting task. The input image is placed on a (width, height) canvas at the given offset, and the surrounding region is generated by a FLUX outpainting model.","operationId":"generate_flux_tools_outpainting_v1_v1_flux_tools_outpainting_v1_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxOutpaintingInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux Tools Outpainting V1 V1 Flux Tools Outpainting V1 Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flux-tools/vto-v1":{"post":{"tags":["Models"],"summary":"Virtual try-on","description":"Submits a virtual try-on task. Person and garment images are mapped to the underlying input image slots; prompts steer attribute transfer.","operationId":"generate_flux_tools_vto_v1_v1_flux_tools_vto_v1_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2KleinTryonInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux Tools Vto V1 V1 Flux Tools Vto V1 Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flux-tools/erase-v1":{"post":{"tags":["Models"],"summary":"Erase an object from an image","description":"Submits an erase task using an input image and a mask identifying the object or region to remove.","operationId":"generate_flux_tools_erase_v1_v1_flux_tools_erase_v1_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2EraseInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux Tools Erase V1 V1 Flux Tools Erase V1 Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flux-tools/deblur-v1":{"post":{"tags":["Models"],"summary":"Remove blur from an image","description":"Submits a deblur task. The input image is regenerated by a FLUX blur-removal model to sharpen it while preserving the original scene, objects, composition, and lighting. No prompt needed.","operationId":"generate_flux_tools_deblur_v1_v1_flux_tools_deblur_v1_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flux2DeblurInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux Tools Deblur V1 V1 Flux Tools Deblur V1 Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/flux-kontext-max":{"post":{"tags":["Models"],"summary":"Edit or create an image with FLUX.1 Kontext [max]","description":"Submits an image creation task with FLUX.1 Kontext [max]. For image editing, prefer FLUX.2 [pro] (/flux-2-pro) or FLUX.2 [flex] (/flux-2-flex) which are the recommended default models for editing workflows.","operationId":"generate_flux_kontext_max_v1_flux_kontext_max_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxKontextProInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux Kontext Max V1 Flux Kontext Max Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 Kontext [max]"},"content":"FLUX.1 Kontext [max] is a legacy editing model. For new integrations, use FLUX.2 [pro] (/flux-2-pro). See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}},"/v1/flux-kontext-pro":{"post":{"tags":["Models"],"summary":"Edit or create an image with FLUX.1 Kontext [pro]","description":"Submits an image creation task with FLUX.1 Kontext [pro]. For image editing, prefer FLUX.2 [pro] (/flux-2-pro) or FLUX.2 [flex] (/flux-2-flex) which are the recommended default models for editing workflows.","operationId":"generate_flux_kontext_pro_v1_flux_kontext_pro_post","security":[{"APIKeyHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FluxKontextProInputs"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/AsyncResponse"},{"$ref":"#/components/schemas/AsyncWebhookResponse"}],"title":"Response Generate Flux Kontext Pro V1 Flux Kontext Pro Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"x-mint":{"metadata":{"sidebarTitle":"FLUX.1 Kontext [pro]"},"content":"FLUX.1 Kontext [pro] is a legacy editing model. For new integrations, use FLUX.2 [pro] (/flux-2-pro). See [which model to use](/flux_2/flux2_overview#which-model-to-choose)."}}}},"components":{"schemas":{"AsyncResponse":{"properties":{"id":{"type":"string","title":"Id"},"polling_url":{"type":"string","title":"Polling Url"},"cost":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cost","description":"Cost in credits for this request"},"input_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Input Mp","description":"Input megapixels (2 decimal places)"},"output_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Output Mp","description":"Output megapixels (2 decimal places)"}},"type":"object","required":["id","polling_url"],"title":"AsyncResponse"},"AsyncWebhookResponse":{"properties":{"id":{"type":"string","title":"Id"},"status":{"type":"string","title":"Status"},"webhook_url":{"type":"string","title":"Webhook Url"},"cost":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cost","description":"Cost in credits for this request"},"input_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Input Mp","description":"Input megapixels (2 decimal places)"},"output_mp":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Output Mp","description":"Output megapixels (2 decimal places)"}},"type":"object","required":["id","status","webhook_url"],"title":"AsyncWebhookResponse"},"CreditsResponse":{"properties":{"credits":{"type":"number","title":"Credits","description":"User's current credit balance"}},"type":"object","required":["credits"],"title":"CreditsResponse"},"DeleteFinetuneInputs":{"properties":{"finetune_id":{"type":"string","title":"Finetune Id","description":"Name of the LoRA to delete.","example":"my-finetune"}},"type":"object","required":["finetune_id"],"title":"DeleteFinetuneInputs"},"DeleteFinetuneResponse":{"properties":{"status":{"type":"string","title":"Status","description":"Status of the deletion"},"message":{"type":"string","title":"Message","description":"Message about the deletion"},"deleted_finetune_id":{"type":"string","title":"Deleted Finetune Id","description":"ID of the deleted finetune"},"timestamp":{"type":"string","title":"Timestamp","description":"Timestamp of the deletion"}},"type":"object","required":["status","message","deleted_finetune_id","timestamp"],"title":"DeleteFinetuneResponse"},"FinetuneDetailResponse":{"properties":{"finetune_details":{"additionalProperties":true,"type":"object","title":"Finetune Details","description":"Details about the parameters used for finetuning"}},"type":"object","required":["finetune_details"],"title":"FinetuneDetailResponse"},"FinetuneFluxProFillInputs":{"properties":{"finetune_id":{"type":"string","title":"Finetune Id","description":"Name of the LoRA to use. For LoRAs from other organizations (public or shared), use the format 'org-id/lora-name'.","example":"my-finetune"},"finetune_strength":{"type":"number","maximum":2.0,"minimum":0.0,"title":"Finetune Strength","description":"Strength of the fine-tuned model. 0.0 means no influence, 1.0 means full influence. Allowed values up to 2.0","default":1.1},"image":{"type":"string","title":"Image","description":"A Base64-encoded string representing the image you wish to modify. Can contain alpha mask if desired."},"mask":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mask","description":"A Base64-encoded string representing a mask for the areas you want to modify in the image. The mask should be the same dimensions as the image and in black and white. Black areas (0%) indicate no modification, while white areas (100%) specify areas for inpainting. Optional if you provide an alpha mask in the original image. Validation: The endpoint verifies that the dimensions of the mask match the original image."},"prompt":{"type":"string","title":"Prompt","description":"The description of the changes you want to make. This text guides the inpainting process, allowing you to specify features, styles, or modifications for the masked area.","default":"","example":"ein fantastisches bild"},"steps":{"type":"integer","maximum":50.0,"minimum":15.0,"title":"Steps","description":"Number of steps for the image generation process","default":50,"example":50},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility"},"guidance":{"type":"number","maximum":100.0,"minimum":1.5,"title":"Guidance","description":"Guidance strength for the image generation process","default":60},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["finetune_id","image"],"title":"FinetuneFluxProFillInputs"},"FinetuneFluxUltraInput":{"properties":{"finetune_id":{"type":"string","title":"Finetune Id","description":"Name of the LoRA to use. For LoRAs from other organizations (public or shared), use the format 'org-id/lora-name'.","example":"my-finetune"},"finetune_strength":{"type":"number","maximum":2.0,"minimum":0.0,"title":"Finetune Strength","description":"Strength of the fine-tuned model. 0.0 means no influence, 1.0 means full influence. Allowed values up to 2.0","default":1.2},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt","description":"The prompt to use for image generation.","default":"","example":"A beautiful landscape with mountains and a lake"},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility. If not provided, a random seed will be used.","example":42},"aspect_ratio":{"type":"string","title":"Aspect Ratio","description":"Aspect ratio of the image between 21:9 and 9:21","default":"16:9"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Prompt","description":"Optional image to remix in base64 format"},"image_prompt_strength":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Image Prompt Strength","description":"Blend between the prompt and the image prompt","default":0.1},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation","default":false},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["finetune_id"],"title":"FinetuneFluxUltraInput"},"Flux2DeblurInputs":{"properties":{"image":{"type":"string","title":"Image","description":"Base64-encoded input image or HTTP(S) image URL."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5, 0 being most strict, 5 being least strict.","default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["image"],"title":"Flux2DeblurInputs","description":"Input model for public FLUX.2 deblur.\n\nDeblur takes only an image (no mask, no prompt): the whole image is\nregenerated by a fixed Klein 9B KV BF16 blur-removal LoRA with a fixed\nprompt, so the caller controls nothing but the input image."},"Flux2EraseInputs":{"properties":{"image":{"type":"string","title":"Image","description":"Base64-encoded input image or HTTP(S) image URL."},"mask":{"type":"string","title":"Mask","description":"Base64-encoded black/white mask or HTTP(S) image URL. White pixels indicate the object to remove; black pixels are preserved. Must have the same dimensions as the input image."},"dilate_pixels":{"type":"integer","maximum":25.0,"minimum":0.0,"title":"Dilate Pixels","description":"Number of pixels to dilate the mask by before removal. Dilation helps cover object edges. Maximum is 25 pixels.","default":10},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5, 0 being most strict, 5 being least strict.","default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["image","mask"],"title":"Flux2EraseInputs","description":"Input model for public FLUX.2 erase."},"Flux2FlexInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"Text prompt for image generation.","example":"ein fantastisches bild"},"prompt_upsampling":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Prompt Upsampling","description":"Whether to use prompt upsampling.","default":true},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image","description":"Path to the input image."},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 2","description":"Path to the second input image."},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 3","description":"Path to the third input image."},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 4","description":"Path to the fourth input image."},"input_image_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 5","description":"Path to the fifth input image."},"input_image_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 6","description":"Path to the sixth input image."},"input_image_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 7","description":"Path to the seventh input image."},"input_image_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 8","description":"Path to the eighth input image."},"input_image_blob_path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image Blob Path","description":"Blob path to the input image."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"width":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"title":"Width","description":"Width of the image","default":0},"height":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"title":"Height","description":"Height of the image","default":0},"guidance":{"anyOf":[{"type":"number","maximum":10.0,"minimum":1.5},{"type":"null"}],"title":"Guidance","description":"Guidance scale for image generation. High guidance scales improve prompt adherence at the cost of reduced realism.","default":5.0,"example":5.0},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":1.0},{"type":"null"}],"title":"Steps","description":"Number of steps for image generation. Higher steps lead to more detailed and realistic images.","default":50,"example":50},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5, 0 being most strict, 5 being least strict. If you wish to increase the safety_tolerance beyond these levels please reach out to the team.","default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["prompt"],"title":"Flux2FlexInputs"},"Flux2Inputs":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"Text prompt for image generation.","example":"ein fantastisches bild"},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image","description":"Path to the input image."},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 2","description":"Path to the second input image."},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 3","description":"Path to the third input image."},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 4","description":"Path to the fourth input image."},"input_image_5":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 5","description":"Path to the fifth input image."},"input_image_6":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 6","description":"Path to the sixth input image."},"input_image_7":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 7","description":"Path to the seventh input image."},"input_image_8":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 8","description":"Path to the eighth input image."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"width":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"title":"Width","description":"Width of the image","default":0},"height":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"title":"Height","description":"Height of the image","default":0},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5, 0 being most strict, 5 being least strict. If you wish to increase the safety_tolerance beyond these levels please reach out to the team.","default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["prompt"],"title":"Flux2Inputs"},"Flux2KleinInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"Text prompt for image generation.","example":"ein fantastisches bild"},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image","description":"Path to the input image."},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 2","description":"Path to the second input image."},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 3","description":"Path to the third input image."},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 4","description":"Path to the fourth input image."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"width":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"title":"Width","description":"Width of the image","default":0},"height":{"anyOf":[{"type":"integer","minimum":64.0},{"type":"null"}],"title":"Height","description":"Height of the image","default":0},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5, 0 being most strict, 5 being least strict. If you wish to increase the safety_tolerance beyond these levels please reach out to the team.","default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["prompt"],"title":"Flux2KleinInputs","description":"Input model for FLUX.2 Klein (non-base) - like Pro but max 4 images."},"Flux2KleinTryonInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"Text prompt for VTO generation.","example":"TRY-ON: The person of image 1 wearing the garments of image 2."},"person":{"type":"string","title":"Person","description":"Person image (maps internally to input_image)."},"garment":{"type":"string","title":"Garment","description":"Image of one more garments (maps internally to input_image_2)."},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5 for public use.","default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["prompt","person","garment"],"title":"Flux2KleinTryonInputs","description":"Input model for FLUX.2 Klein VTO endpoint.\n\nExposes only person/garment image fields for cleaner API ergonomics."},"FluxDevInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"Text prompt for image generation.","default":"","example":"ein fantastisches bild"},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Prompt","description":"Optional base64 encoded image to use as a prompt for generation."},"width":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"title":"Width","description":"Width of the generated image in pixels. Must be a multiple of 32.","default":1024},"height":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"title":"Height","description":"Height of the generated image in pixels. Must be a multiple of 32.","default":768},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":1.0},{"type":"null"}],"title":"Steps","description":"Number of steps for the image generation process.","default":28,"example":28},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation.","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"guidance":{"anyOf":[{"type":"number","maximum":5.0,"minimum":1.5},{"type":"null"}],"title":"Guidance","description":"Guidance scale for image generation. High guidance scales improve prompt adherence at the cost of reduced realism.","default":3.0,"example":3.0},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","title":"FluxDevInputs"},"FluxKontextProInputs":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"Text prompt for image generation.","example":"ein fantastisches bild"},"input_image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image","description":"Base64 encoded image or URL to use with Kontext."},"input_image_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 2","description":"Base64 encoded image or URL to use with Kontext. *Experimental Multiref*"},"input_image_3":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 3","description":"Base64 encoded image or URL to use with Kontext. *Experimental Multiref*"},"input_image_4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Image 4","description":"Base64 encoded image or URL to use with Kontext. *Experimental Multiref*"},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"aspect_ratio":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Aspect Ratio","description":"Aspect ratio of the image between 21:9 and 9:21"},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"png"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation.","default":false},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2}},"type":"object","required":["prompt"],"title":"FluxKontextProInputs"},"FluxOutpaintingInputs":{"properties":{"input_image":{"type":"string","title":"Input Image","description":"Base64-encoded input (reference) image or HTTP(S) image URL."},"width":{"type":"integer","minimum":64.0,"title":"Width","description":"Target output width."},"height":{"type":"integer","minimum":64.0,"title":"Height","description":"Target output height."},"auto_crop":{"type":"boolean","title":"Auto Crop","description":"If True, crop the input image to the canvas bounds when it extends beyond the edges. If False, an error is raised instead.","default":false},"safety_tolerance":{"type":"integer","maximum":5.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 5, 0 being most strict, 5 being least strict. If you wish to increase the safety_tolerance beyond these levels please reach out to the team.","default":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"default":"png"},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt","description":"Experimental: optional text guidance for the outpainted region. The model may not strictly follow this prompt; the visual content of the input image is the primary signal. Leave unset for default behavior."},"reference_offset_x":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Reference Offset X","description":"Left offset (px) of the reference image's top-left corner on the output canvas. Negative values are allowed. None = center horizontally."},"reference_offset_y":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Reference Offset Y","description":"Top offset (px) of the reference image's top-left corner on the output canvas. Negative values are allowed. None = center vertically."},"mode":{"type":"string","enum":["high","fast"],"title":"Mode","description":"Quality/speed trade-off. 'high' (default): highest-fidelity results, recommended whenever fine detail, prompt adherence, or consistency with complex content in the source image matters; slower. 'fast': significantly faster and well-suited for naturally extending most scenes (landscapes, backgrounds, textures, products); may produce lower fidelity in the extended region than 'high'.","default":"high"}},"additionalProperties":false,"type":"object","required":["input_image","width","height"],"title":"FluxOutpaintingInputs","description":"Public contract for ``/v1/flux-tools/outpainting-v1``."},"FluxPro11Inputs":{"properties":{"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt","description":"Text prompt for image generation.","default":"","example":"ein fantastisches bild"},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Prompt","description":"Optional base64 encoded image to use with Flux Redux."},"width":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"title":"Width","description":"Width of the generated image in pixels. Must be a multiple of 32.","default":1024},"height":{"type":"integer","multipleOf":32.0,"maximum":1440.0,"minimum":256.0,"title":"Height","description":"Height of the generated image in pixels. Must be a multiple of 32.","default":768},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation.","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility.","example":42},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","title":"FluxPro11Inputs"},"FluxProExpandInputs":{"properties":{"image":{"type":"string","title":"Image","description":"A Base64-encoded string representing the image you wish to expand."},"top":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"title":"Top","description":"Number of pixels to expand at the top of the image","default":0},"bottom":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"title":"Bottom","description":"Number of pixels to expand at the bottom of the image","default":0},"left":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"title":"Left","description":"Number of pixels to expand on the left side of the image","default":0},"right":{"anyOf":[{"type":"integer","maximum":2048.0,"minimum":0.0},{"type":"null"}],"title":"Right","description":"Number of pixels to expand on the right side of the image","default":0},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt","description":"The description of the changes you want to make. This text guides the expansion process, allowing you to specify features, styles, or modifications for the expanded areas.","default":"","example":"ein fantastisches bild"},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":15.0},{"type":"null"}],"title":"Steps","description":"Number of steps for the image generation process","default":50,"example":50},"prompt_upsampling":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility"},"guidance":{"anyOf":[{"type":"number","maximum":100.0,"minimum":1.5},{"type":"null"}],"title":"Guidance","description":"Guidance strength for the image generation process","default":60},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["image"],"title":"FluxProExpandInputs"},"FluxProFillInputs":{"properties":{"image":{"type":"string","title":"Image","description":"A Base64-encoded string representing the image you wish to modify. Can contain alpha mask if desired."},"mask":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mask","description":"A Base64-encoded string representing a mask for the areas you want to modify in the image. The mask should be the same dimensions as the image and in black and white. Black areas (0%) indicate no modification, while white areas (100%) specify areas for inpainting. Optional if you provide an alpha mask in the original image. Validation: The endpoint verifies that the dimensions of the mask match the original image."},"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt","description":"The description of the changes you want to make. This text guides the inpainting process, allowing you to specify features, styles, or modifications for the masked area.","default":"","example":"ein fantastisches bild"},"steps":{"anyOf":[{"type":"integer","maximum":50.0,"minimum":15.0},{"type":"null"}],"title":"Steps","description":"Number of steps for the image generation process","default":50,"example":50},"prompt_upsampling":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility"},"guidance":{"anyOf":[{"type":"number","maximum":100.0,"minimum":1.5},{"type":"null"}],"title":"Guidance","description":"Guidance strength for the image generation process","default":60},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","required":["image"],"title":"FluxProFillInputs"},"FluxUltraInput":{"properties":{"prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt","description":"The prompt to use for image generation.","default":"","example":"A beautiful landscape with mountains and a lake"},"prompt_upsampling":{"type":"boolean","title":"Prompt Upsampling","description":"Whether to perform upsampling on the prompt. If active, automatically modifies the prompt for more creative generation.","default":false},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed","description":"Optional seed for reproducibility. If not provided, a random seed will be used.","example":42},"aspect_ratio":{"type":"string","title":"Aspect Ratio","description":"Aspect ratio of the image between 21:9 and 9:21","default":"16:9"},"safety_tolerance":{"type":"integer","maximum":6.0,"minimum":0.0,"title":"Safety Tolerance","description":"Tolerance level for input and output moderation. Between 0 and 6, 0 being most strict, 6 being least strict.","default":2,"example":2},"output_format":{"anyOf":[{"$ref":"#/components/schemas/OutputFormat"},{"type":"null"}],"description":"Output format for the generated image. Can be 'jpeg', 'png', or 'webp'.","default":"jpeg"},"raw":{"type":"boolean","title":"Raw","description":"Generate less processed, more natural-looking images","default":false,"example":false},"image_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image Prompt","description":"Optional image to remix in base64 format"},"image_prompt_strength":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Image Prompt Strength","description":"Blend between the prompt and the image prompt","default":0.1},"webhook_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Webhook Url","description":"URL to receive webhook notifications"},"webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Secret","description":"Optional secret for webhook signature verification"}},"type":"object","title":"FluxUltraInput"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"MyFinetunesResponse":{"properties":{"finetunes":{"items":{},"type":"array","title":"Finetunes","description":"List of finetunes created by the user"}},"type":"object","required":["finetunes"],"title":"MyFinetunesResponse"},"OutputFormat":{"type":"string","enum":["jpeg","png","webp"],"title":"OutputFormat"},"ResultResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Task id for retrieving result"},"status":{"$ref":"#/components/schemas/StatusResponse"},"result":{"anyOf":[{},{"type":"null"}],"title":"Result"},"progress":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Progress"},"details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Details"},"preview":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Preview"}},"type":"object","required":["id","status"],"title":"ResultResponse"},"StatusResponse":{"type":"string","enum":["Task not found","Pending","Request Moderated","Content Moderated","Ready","Error"],"title":"StatusResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-key"}}},"tags":[{"name":"Models","description":"Generation task endpoints. These endpoints allow you to submit generation tasks."},{"name":"Utility","description":"These utility endpoints allow you to check the results of submitted tasks and to manage your finetunes."}]}